<%- include('layouts/head.ejs'); -%>
    <body>
        <div id="container">

        <%- include('layouts/header.ejs'); -%>

        <%- include('layouts/adminNav.ejs'); -%>
        <main >
            <section class="editPages">
                <h2>Edit Pages</h2>
                <table class="edit-table">
                    <tr>
                        <th>Page</th>
                        <th>Manage</th>
                        <th>Delete</th>
                    </tr>
                    <% pages.forEach(function(page){%>
                        <tr>
                            <td><%= page.pagetitle %></td>
                            <td><a href="/editpage/<%= page._id%>">Edit</a></td>
                            <td><a href="/delete/<%=page._id%>">Delete</a></td>
                        </tr>
                    <%})%>
                </table>
                
                </section>
            
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>