<%- include('layouts/head.ejs'); -%>
    <body>
        <div id="container">

        <%- include('layouts/header.ejs'); -%>

        <%- include('layouts/nav.ejs'); -%>
        
        <main>
           <img src="<%=page.imgPath%>"/>
           <h2><%= page.pagetitle%></h2>
           <p><%=page.description%></p>
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>