<%- include('layouts/head.ejs'); -%>
    <body>
        <div id="container">

        <%- include('layouts/header.ejs'); -%>

        <%- include('layouts/nav.ejs'); -%>

        <main>
            <form class="login" method="post">
                <h2>Login</h2>
                <div class="loginDetail">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                    <% if(typeof(errorData) !='undefined'){%>
                        <%for(var error of errorData){%>
                            <% if(error.path == 'username'){%>
                            <p><%=error.msg%></p>
                            <%}}}%>
                </div>
                <div class="loginDetail">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <% if(typeof(errorData) !='undefined'){%>
                        <%for(var error of errorData){%>
                            <% if(error.path == 'password'){%>
                            <p><%=error.msg%></p>
                    <%}}}%>
                </div>
                <div> <button id="submit">Submit</button>
                </div>
                <div class="create">
                    <label>Don't have a account? Create one! <a href="/signup">Click here</a></label>
                </div>
    
            </form>
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>